name: MLflow CI Retraining

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn joblib matplotlib seaborn

    - name: Run mLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local
    
    - name: Get latest MLflow run_id
      run: |
        cd MLProject
        RUN_ID=$(cat run_id.txt)
        echo $RUN_ID

    - name: Install Python dependencies
      run: |
        pip install mlflow pandas scikit-learn joblib matplotlib seaborn

    - name: Upload to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    # --- PERUBAHAN DIMULAI DI SINI ---
    
    # 1. Setup QEMU agar runner x86 bisa build untuk ARM
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    # 2. Setup Docker Buildx untuk fitur multi-platform
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERARYA }}
        password: ${{ secrets.DOCKER_PASSARYA }}

    # 3. Generate Dockerfile & Build Multi-arch (Menggantikan build, tag, & push manual)
    - name: Build and Push Multi-arch Docker Image
      run: |
        cd MLProject
        RUN_ID=$(cat run_id.txt)
        
        # Generate folder yang berisi Dockerfile dan model
        mlflow models generate-dockerfile \
          -m "runs:/$RUN_ID/model" \
          -d model_docker_context
        
        # Build untuk AMD64 (Server) DAN ARM64 (Apple Silicon) sekaligus push
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t ${{ secrets.DOCKER_USERARYA }}/song-rating:latest \
          --push \
          model_docker_context